

<div class="about-resume-row">
  <div class="about-resume-person">
    <img class='about-resume-avatar' alt='{{ include.altText }}' src='{{ include.imagePath }}' />
    <div class="about-resume-bio">
      {{ include.content | markdownify }}
    </div>
  </div>
</div>
