{% assign config = include.config %}
{% unless config %}
    {% include read-config.liquid %}
{% endunless %}

{% assign maxPosts = include.maxPosts | default: 8 %}
{% assign posts = include.posts | default: site.posts %}
{% assign group = include.group |  default: false %}
{% assign groupDate = "January 1, 1900" |  date: "%Y%m" %}

{% assign numPosts = posts | size %}
{% if maxPosts < numPosts %}
    {% assign numPosts = maxPosts %}
{% endif %}

{% for post in posts limit: numPosts %}
    {% assign newGroupDate = post.date | date: "%Y%m" %}
    {% if group and groupDate != newGroupDate %}
        <div class="row">
            <div class="col-12"><h3>{{ post.date |  date: "%B %Y" }}</h3></div>
        </div>
        {% assign groupDate = newGroupDate %}
    {% endif %}

    {% include providers-blog-nav/plainly-post.liquid post=post last=false %}
    {% assign mod = forloop.index |  modulo: 4 %}
    {% if mod == 0 %}<div style="clear: both;"> </div>{% endif %}
{% endfor %}

<div style="clear: both;"> </div>

{% include providers-blog-nav/plainly-post.liquid post=post last=true %}
