{% assign pages = site.content_features | sort: "path" %}

{% assign count = 0 %}
{% for file in pages %}
{% if count == 0 %}{% assign rowClosed = 0 %}<div class="row project-features">{% endif %}
<div class="col-md-4 project-feature-item">
  <div class="project-feature-header"><i class="{{ file.icon }}"></i> {{ file.title }}</div>
  {{ file.content | markdownify }}
</div>
{% if count == 2 %}{% assign rowClosed = 1 %}</div>{% endif %}
{% assign count = count | plus: 1 | modulo: 3 %}
{% endfor %}
{% if rowClosed == 0 %}</div>{% endif %}