html,
body,
main.page-content,
div.wrapper,
div.wrapper div.content,
div.soon-container,
div.soon-content {
    /*min-height: 100%;*/
    color: #aaa;
}

div.soon-content h2,
div.soon-content strong,
div.soon-content i
{
    color: #fff;
}

body {
    color: #fff;
    background-color: #222;
}

div.soon {
    background-image: url("../soon/images/make-a-splash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -150px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 250px;
    margin-bottom: 50px;
}

div.soon img {
    position: relative;
    top: 25px;
    left: 750px;
}

div.countdown, div.countdown-small {
    font-size: 1.5em;
    margin-top:10px;
    margin-bottom:10px;
    color: #fff;
    text-align: center;
}

div.countdown-large {
    font-size: 3.0em;
    margin-top:50px;
    margin-bottom:50px;
    color: #fff;
}

div.countdown div small {
    font-size: 0.50em;
    color: #bbb;
}