<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

{% include layouts-parts/head.html %}

<body>

{% include layouts-parts/header.html %}

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{% include layouts-parts/footer.html %}

</body>

</html>
